@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* mask is saved in public folder of this nextjs app */
.header-mask {
    mask-image: url("/images/ripped-image.svg");
    mask-size: cover;
    mask-position: bottom;
}
